@import '~node_modules/modern-normalize/modern-normalize.css';

:root {
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --animation-duration: 250ms;
    --width: calc((95vw - 3 * 12px) / 4);
    --font: calc(0.012 * 95vw);
}

.search-form {
    position: relative;
    width: 300px;
    margin: 10px auto 20px;
    border: .5px solid #ddd3d3a3;
    border-radius: 10px;
}

.search-form input,
.search-form button {
    border: none;
    outline: none;
    border-radius: 5px;
}

.search-form input {
    width: 100%;
    height: 42px;
    background: #F9F0DA;
    padding-left: 15px;
    transition: outline var(--animation-duration) var(--timing-function);
}

.search-form input:hover,
.search-form input:focus {
    outline: 0.5px solid #95affb;
}

.search-form button {
    height: 26px;
    width: 26px;
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
}

.search-form button:before {
    content: '';
    font-weight: bold;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin: 0 auto;
    justify-content: center;
}

.photo-item {
    border: solid #F9F0DA;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.photo-image:hover {
    transform: scale(1.03);
}

.wrap {
    width: var(--width);
    height: calc(var(--width) * 0.75);
}

.photo-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform var(--animation-duration) var(--timing-function);
}

.photo-image:hover {
    transform: scale(1.03);
}

.photo-link {
    display: block;
    text-decoration: none;
    height: 100%;
}

.photo-link:hover {
    cursor: zoom-in;
}

.info {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    font-size: var(--font);
}

.info-item {
    text-align: center;
    color: rgb(11, 14, 34);
}

.load-more {
    display: block;
    position: relative;
    margin: 20px auto;
    width: 100px;
    height: 40px;
    background-color: #483ce7;
    color: rgb(255, 208, 132);
    border-radius: 10px;
    transition: transform var(--animation-duration) var(--timing-function);
}

.load-more:hover {
    transform: scale(1.03);
}

.is-hidden {
    opacity: 1;
    visibility: hidden;
}